@import "bootstrap.less";
@import "variables.less";


@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}


a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c2d2ec;
  &:hover {
    border-bottom-color: darken(#c2d2ec, 10%);
  }
}
.dashed-link {
  border-bottom-style: dashed;
}
.orange-btn(@btn-vert-padding, @btn-horiz-padding) {
  position: relative;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  background: linear-gradient(#f37528, #f37529 48%, #f25a29 52%, #f5582b);
  padding: @btn-vert-padding @btn-horiz-padding;
  &:hover, &:focus {
    color: #fff;
  }
}
.main {
  //padding: 15px 0 0;
  overflow: hidden;
}
.content {
  padding: 0 15px;
}

.text-content {
  max-width: 1000px;
}
.navbar-toggle {
  border: none;
}
.nav-company {
  text-transform: uppercase;
}
.nav-product {
  li {
    img {
      float: left;
      margin: 6px 0 0 15px;
    }
    a {
      padding-left: 50px;
      font-size: 12px;
      //background-position: 15px center;
      //background-repeat: no-repeat;
    }
    /*&:nth-of-type(1) {
      a {background-image: url(../images/okna-icon.png);}
    }
    &:nth-of-type(2) {
      a {background-image: url(../images/potolok-icon.png);}
    }
    &:nth-of-type(3) {
      a {background-image: url(../images/rolstavny-icon.png);}
    }
    &:nth-of-type(4) {
      a {background-image: url(../images/dvery-icon.png);}
    }
    &:nth-of-type(5) {
      a {background-image: url(../images/vorota-icon.png);}
    }
    &:nth-of-type(6) {
      a {background-image: url(../images/ventfasad-icon.png);}
    }
    &:nth-of-type(7) {
      a {background-image: url(../images/steklfasad-icon.png);}
    }
    &:nth-of-type(8) {
      a {background-image: url(../images/balkon-icon.png);}
    }
    &:nth-of-type(9) {
      a {background-image: url(../images/cond-icon.png);}
    }*/

  }
}
.navbar-collapse {
  .nav-product {
    li {
      img {
        margin: 14px 0 0 15px;
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .navigation {
    float: left;
    width: 190px;
    background: #0c56a1;
  }
  .main {
    margin-left: 190px;
    //overflow: hidden;
  }
  .content {
    padding: 0 35px;
  }
  .navbar-brand {
    height: 113px;
    float: none;
  }
  .navbar-nav {
    float: none;
    li {
      float: none;
      margin-bottom: 15px;
      a {
        padding-top: 5px;
        padding-bottom: 5px;
        background-position: 15px 6px;
        line-height: 1.35;
      }
    }
  }
  .navbar-nav.nav-company {
    margin-top: 10px;
  }
}
header {
  padding-top: 15px;
  margin-bottom: 25px;
}
.contact-1, .contact-2, .contact-3 {
  padding: 0;
}
.contact-1, .contact-3 {
  font-size: 12px;
}
.address, .order-title, .tel {
  color: #000;
  font-weight: 700;
}
.tel a {
  color: #000;
  font-size: 20px;
  line-height: 1.35;
  border: none;
  span {
    font-size: 16px;
    font-weight: 400;
  }
}
.call-link {
  a {
    .dashed-link;
    font-size: 12px;
  }
}
.order {
  button {
    .orange-btn(12px, 25px);
  }
}
.contact-2 {
  margin-bottom: 20px;
}
.address {
  margin: 7px 0;
}
.order-title {
  margin-bottom: 10px;
}
@media (min-width: @screen-md-min) {
  .contact-1, .contact-3 {
    font-size: 12px;
  }
  .call-link {
    margin-top: 3px;
    a {
      font-size: 14px;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .contact-1, .contact-3 {
    font-size: 14px;
  }
  .contact-1 > div {
    margin-top: 16px;
  }
  .tel {
    margin-top: 10px;
  }
  .call-link, .order-title {
    margin-top: 13px;
  }
}
.product-list {
  margin-bottom: 30px;
  img {
    .img-responsive;
  }
}
.product-line-1, .product-line-2 {
  position: relative;
  margin-bottom: 15px;
  span {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 16px;
    i {
      font-style: normal;
      &.product-line-title {
        font-size: 20px;
        font-weight: 700;
      }
    }
    &.white-title {
      color: #fff;
      i.product-line-title {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
    &.dark-title {
      color: #252324;
      i.product-line-title {
        border-bottom: 1px solid #bdbdbf;
      }
    }
  }
}
.product-line-3 {
  font-size: 16px;
  margin: 25px 0;
  img {
    height: 123px;
    margin-bottom: 10px;
  }
  a {
    border: none;
    span {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #c2d2ec;
      &:hover {
        border-bottom-color: darken(#c2d2ec, 10%);
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .product-line-1 {
    span {
      bottom: 30px;
      left: 50px;
      i.product-line-title {
        font-size: 24px;
        line-height: 2.5;
      }
    }
  }
  .product-line-2 {
    span {
      i.product-line-title {
        font-size: 16px;
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .product-line-1 {
    span {
      bottom: 15px;
      font-size: 12px;
      i.product-line-title {
        font-size: 20px;
      }
    }
    &:nth-of-type(2) {
      span {
        bottom: 32px;
      }
    }
  }
  .product-line-2 {
    span {
      i.product-line-title {
        font-size: 18px;
      }
    }
  }
  .product-line-3 {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .product-line-1 {
    span {
      bottom: 20px;
      font-size: 16px;
      i.product-line-title {
        font-size: 30px;
      }
    }
    &:nth-of-type(2) {
      span {
        bottom: 42px;
      }
    }
  }
  .product-line-2 {
    span {
      i.product-line-title {
        font-size: 24px;
      }
    }
  }
  .product-line-3 {
    font-size: 18px;
  }
}
@media (min-width: @screen-lg-min) {
  .product-line-1 {
    span {
      i.product-line-title {
        font-size: 36px;
      }
    }
  }
  .product-line-2 {
    span {
      left: 40px;
      bottom: 40px;
    }
  }
  .product-line-3 {
    img {
      float: left;
    }
    span {
      position: relative;
      top: 35px;
      left: 15px;
    }
  }
}
.about-company {
  padding-bottom: 30px;
}
.about-company-info {
  border-top: 2px solid #f5ad94;
  padding-top: 5px;
}
.about-company-info-title {
  color: #e6572d;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-company-info {
  ul {
    margin-bottom: 30px;
    li {
      list-style: none;
      position: relative;
      margin-bottom: 15px;
      &:before {
        content: '';
        display: inline-block;
        background: url(../images/check.png) no-repeat;
        width: 26px;
        height: 25px;
        position: absolute;
        top: 0;
        left: -35px;
      }
      .order-link {
        white-space: nowrap;
      }
    }
  }
}
.about-company-statistic {
  border: 1px solid #c4d2ec;
  padding: 35px 20px 45px;
  ul {
    .list-unstyled;
    margin-bottom: 15px;
    li {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}
.about-company-statistic-img {
  margin-bottom: 20px;
  img {
    .img-responsive;
  }
}
.about-company-statistic-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-company-statistic-note {
  font-size: 12px;
  font-weight: 700;
}
.feedback-block {
  padding-bottom: 30px;
}
.reviews {
  border-top: 2px solid #86aacc;
  padding-top: 5px;
  margin-bottom: 30px;
  h2 {
    color: @brand-primary;
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 30px;
  }
}
.reviews-item {
  margin-bottom: 30px;
}
.reviews-img {
  margin-bottom: 15px;
  img {
    .img-responsive;
  }
}
.klient-name {
  font-weight: 700;
  margin-bottom: 15px;
}
.reviews-text {
  font-style: italic;
}
.all-reviews {
  a {
    font-size: 16px;
  }
}
.consult {
  background: #fbf18f;
  padding: 30px 15px 35px;
  form {
    .form-control {
      font-size: 12px;
    }
    button {
      .orange-btn(10px, 25px);
      width: 100%;
    }
  }
}
.consult-title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (min-width: @screen-sm-min) {
  .consult {
    padding: 40px 45px 45px;
    form {
      button {
        width: auto;
      }
    }
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .consult {
    form {
      .row {
        > div:nth-of-type(1) {
          padding-right: 8px;
        }
        > div:nth-of-type(2) {
          padding-left: 8px;
        }
      }
    }
  }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .consult {
    form {
      input.form-control {
        max-width: 270px;
      }
    }
  }
}
@media (min-width: @screen-lg-min) {
  .consult {
    form {
      .row {
        > div:nth-of-type(1) {
          padding-right: 8px;
        }
        > div:nth-of-type(2) {
          padding-left: 8px;
        }
      }
    }
  }
}
footer {
  background: linear-gradient(to bottom, #fff, #c3d4e6);
  padding: 20px 0;
}
.footer-logo {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-address {
  font-size: 12px;
  margin-bottom: 15px;
  div {
    margin-bottom: 5px;
  }
}
.footer-tel {
  margin-bottom: 20px;
  a {
    color: @text-color;
    font-size: 16px;
    border: none;
  }
}
.footer-order-link {
  margin-bottom: 35px;
  a {
    font-size: 12px;
  }
}
.footer-create {
  font-size: 12px;
  text-align: right;
}
@media (min-width: @screen-sm-min) {
  .footer-order-link {
    text-align: right;
  }
}
@media (min-width: @screen-md-min) {
  footer {
    padding: 50px 0 20px;
  }
}
@media (min-width: 1200px) {
  .footer-address, .footer-tel {
    float: left;
  }
  .col-1200-10 {
    width: 41.666666%;
  }
  .footer-address {
    width: 52%;
  }
  .footer-tel {
    width: 48%;
  }
}
@media (min-width: 1360px) {
  .footer-address {
    width: 55%;
  }
  .footer-tel {
    width: 45%;
  }
}
@media (min-width: @screen-lg-min) {
  .footer-address, .footer-order-link {
    margin-bottom: 0;
  }
  .col-lg-12 {
    width: 50%;
  }
  .col-lg-8 {
    width: 33.33333%;
  }
}
                                          /*Window-page*/
.page-head {
  padding: 40px 0 50px;
  div {
    color: #fff;
    text-align: center;
  }
}
.window-head {
  background: linear-gradient(to right, #579510, #7fac07, #d5df05);
  .head-text-2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .head-text-3 {
    font-size: 12px;
    margin-bottom: 35px;
  }
}
.head-text-1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.calc {
  .btn {
    .orange-btn(10px, 25px);
  }
}
@media (min-width: @screen-sm-min) {
  .head-text-1 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .head-text-1 {
    font-size: 46px;
  }
}
.actions {
  background: #f2f2f2;
}
.window-actions {
  height: 229px;
  .action-text {
    padding: 30px 15px 40px;
  }
}
.action-title {
  color: #f45a28;
  text-transform: uppercase;
}
.action-name {
  color: #f45a28;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.action-content {
  color: #000;
  span {
    font-weight: 700;
  }
}
.action-img {
  overflow: hidden;
}
.window-actions .action-content span {
  font-size: 30px;
}
@media (min-width: 1200px) {
  .window-actions {
    .action-name {
      font-size: 30px;
    }
  }
  .action-content {
    font-size: 16px;
    span {
      font-size: 36px;
    }
  }
}
.new-glass h2, .leaders h2, .inner-about-company h2, .window-order h2, .window-furn h2,
.ceiling-types h2, .ceiling-quality h2, .ceiling-portfolio h2, .ceiling-light h2, .blinds-about h2,
.blinds-type h2, .inner-blinds-gallery h2, .inner-blinds-instal h2 {
  color: @brand-primary;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px;
}
.new-glass {
  padding: 40px 0 50px;
  ul {
    .list-unstyled;
    li {
      padding-left: 60px;
      margin-bottom: 20px;
    }
  }
}
.new-glass-img {
  margin-bottom: 30px;
  img {
    .img-responsive;
    margin: 0 auto;
  }
}
.new-glass-char-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.new-glass-char-1 {
  background: url(../images/char1.png) no-repeat left 5px;
}
.new-glass-char-2 {
  background: url(../images/char2.png) no-repeat left 5px;
}
.new-glass-char-3 {
  background: url(../images/char3.png) no-repeat left 5px;
}
.new-glass-char-4 {
  background: url(../images/char4.png) no-repeat left 5px;
}
.new-glass-char-5 {
  background: url(../images/char5.png) no-repeat left 5px;
}
.new-glass-char-6 {
  background: url(../images/char6.png) no-repeat left 5px;
}
@media (min-width: @screen-sm-min) {
  .new-glass h2, .leaders h2, .inner-about-company h2, .window-order h2, .window-furn h2,
  .ceiling-types h2, .ceiling-quality h2, .ceiling-portfolio h2, .ceiling-light h2, .blinds-about h2,
  .blinds-type h2, .inner-blinds-gallery h2, .inner-blinds-instal h2 {
    margin: 0 0 40px;
  }
  .new-glass {
    padding: 50px 0 60px;
    ul {
      li {
        height: 121px;
      }
    }
  }
  .new-glass-img {
    width: 440px;
    margin: 0 auto 40px;
  }
}
@media (min-width: 1200px) {
  .new-glass h2, .leaders h2, .inner-about-company h2, .window-order h2, .window-furn h2,
  .ceiling-types h2, .ceiling-quality h2, .ceiling-portfolio h2, .ceiling-light h2, .blinds-about h2,
  .blinds-type h2, .inner-blinds-gallery h2, .inner-blinds-instal h2 {
    font-size: 36px;
  }
  .new-glass {
    ul {
      padding: 0 65px;
    }
  }
  .new-glass-img {
    width: 600px;
  }
}
.carousel-control {
  height: 44px;
  border: none;
  margin-top: 80px;
}
.carousel-control.left {
  background: url(../images/prev-small.png) no-repeat;
}
.carousel-control.right {
  background: url(../images/next-small.png) no-repeat;
}
.leaders {
  padding: 0 0 30px;
}
@media (min-width: @screen-sm-min) {
  .leaders {
    .carousel-inner {
      height: 432px;
      .item {
        height: 415px;
      }
    }
  }
}
.leaders-img {
  text-align: center;
  height: 220px;
  img {
    .img-responsive;
    //height: 200px;
  }
}
@media (max-width: @screen-xs-max) {
  .leaders-img {
    img {
      height: 200px;
      margin: 0 auto;
    }
  }
}
.leaders-info {
  background: #f2f2f2;
  padding: 30px 20px;
  ul {
    margin-bottom: 20px;
  }
  .list-plus;
}
.list-plus {
  ul {
    .list-unstyled;
    li {
      line-height: 1.2;
      &:before {
        content: '+';
        color: #f45d2e;
        font-size: 24px;
        font-weight: 700;
        margin-right: 15px;
        position: relative;
        top: 3px;
      }
    }
  }
}
.leaders-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.leaders-price {
  color: #f35a2e;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.leaders-more {
  margin-bottom: 25px;
}
.compare-btn {
  .btn {
    .orange-btn(12px, 25px);
  }
}
@media (min-width: @screen-sm-min) {
  .leaders-img {
    height: 360px;
    img {
      //height: 360px;
    }
  }
  .carousel-inner {
    padding: 0 40px;
  }
  .carousel-control {
    top: 50%;
    margin-top: -22px;
  }
  .leaders-info {
    padding: 30px 40px;
    max-width: 360px;
  }
}
@media (min-width: @screen-lg-min) {
  .leaders-img {
    height: 440px;
    img {
      //height: 440px;
    }
  }
  .leaders-info {
    padding: 40px 50px;
    max-width: 440px;
    ul {
      li {
        font-size: 18px;
        &:before {
          font-size: 36px;
          top: 5px;
        }
      }
    }
  }
  .leaders-title {
    font-size: 36px;
  }
  .leaders-price {
    font-size: 36px;
  }
  .carousel-control {
    width: 58px;
    height: 113px;
    margin-top: -56px;
  }
  .carousel-control.left {
    background: url(../images/prev.png) no-repeat;
  }
  .carousel-control.right {
    background: url(../images/next.png) no-repeat;
  }
}
.inner-about-company {
  padding: 40px 0;
  h2 {
    color: #f35a2e;
  }
  ul {
    li {
      list-style: none;
      position: relative;
      margin-bottom: 15px;
      &:before {
        content: '';
        display: inline-block;
        background: url(../images/check.png) no-repeat;
        width: 26px;
        height: 25px;
        position: absolute;
        top: 0;
        left: -35px;
      }
      .order-link {
        white-space: nowrap;
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .inner-about-company {
    ul {
      li {
        font-size: 16px;
        margin-bottom: 25px;
      }
    }
  }
}
@media (min-width: @screen-lg-min) {
  .inner-about-company {
    padding: 60px 0;
  }
}
.window-feedback {
  .consult {
    background: linear-gradient(to bottom, #fcf698, #f8db4f);
    form {
      text-align: center;
    }
  }
  .consult-title {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (min-width: @screen-md-min) {
  .window-feedback {
    .consult {
      padding-top: 60px;
      padding-bottom: 60px;
      form {
        max-width: 680px;
        margin: 0 auto;
        .row {
          > div:nth-of-type(1) {
            padding-right: 8px;
          }
          > div:nth-of-type(2) {
            padding-left: 8px;
          }
        }
        input.form-control {
          max-width: none;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .window-feedback {
    .consult-title {
      font-size: 36px;
    }
  }
}
/*@media (min-width: @screen-lg-min) {
  .window-feedback {
    .consult {
      .row {
        > div:nth-of-type(1) {
          margin-bottom: 38px;
        }
      }
    }
  }
}*/
.window-reviews {
  .reviews {
    border: none;
    padding: 40px 0;
    h2 {
      text-align: center;
    }
    .all-reviews {
      margin-left: 15px;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .window-reviews {
    .reviews {
      h2 {
        margin-bottom: 40px;
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .window-reviews {
    .reviews {
      .all-reviews {
        text-align: center;
        margin-left: 0;
      }
    }
  }
}
@media (min-width: 1200px) {
  .window-reviews {
    .reviews {
      padding: 60px 0;
      h2 {
        font-size: 36px;
        margin-bottom: 60px;
      }
    }
  }
}
.window-order {
  background: #5b950b;
  padding: 40px 0;
  h2 {
    color: #fff;
  }
}
.window-order-item {
  margin-bottom: 30px;
}
.window-order-number {
  color: #cdd506;
  font-weight: 700;
  margin-bottom: 15px;
  z-index: 1;
  span {
    background: #5b950b;
    padding-right: 10px;
    position: relative;
    z-index: 2;
  }
}
.window-order-title, .window-order-text {
  color: #fff;
}
.window-order-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (min-width: @screen-sm-min) {
  .window-order-number {
    background: url(../images/arrow.png) no-repeat right center;
  }
  .window-order-item:last-child {
    .window-order-number {
      background: none;
    }
  }
  .window-order-title {
    height: 51px;
  }
  .window-order-text {
    height: 120px;
  }
}
@media (min-width: 1200px) {
  .window-order-item {
    width: 20%;
  }
  .window-order-text {
    height: auto;
  }
}
@media (min-width: @screen-lg-min) {
  .window-order-list {
    padding: 0 7%;
  }
  .window-order-item {
    width: 20%;
    padding: 2%;
  }
}
.window-furn {
  padding: 40px 0;
}
.window-furn-item {
  margin-bottom: 40px;
}
.window-furn-img {
  width: 150px;
  margin-bottom: 30px;
  img {
    .img-responsive;
  }
}
.window-furn-title {
  color: #1d1d1b;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.window-furn-note {
  font-size: 12px;
  p:last-child {
    font-weight: 700;
  }
}
@media (min-width: @screen-sm-min) {
  .window-furn {
    padding: 60px 0;
    h2 {
      margin-bottom: 60px;
    }
  }
  .window-furn-img {
    width: auto;
  }
}
@media (min-width: @screen-md-min) {
  .window-furn-img {
    width: 150px;
  }
}
@media (max-width: @screen-md-max) {
  .window-furn-note {
    text-align: center;
  }
}
@media (min-width: @screen-lg-min) {
  .window-furn {
    h2 {
      margin-bottom: 80px;
    }
  }
  .window-furn-img {
    width: 200px;
  }
}
                                      /*Ceiling-page*/
.ceiling-head {
  background: linear-gradient(to right, #a62578, #683095);
  .head-text-2 {
    font-weight: 700;
  }
}
@media (min-width: @screen-sm-min) {
  .ceiling-head {
    .head-text-2 {
      font-size: 16px;
    }
  }
}
.ceiling-actions {
  height: 268px;
  .action-text {
    padding: 10px 15px;
  }
  .order-link {
    margin-top: 5px;
  }
}
.ceiling-actions .action-content span {
  font-size: 22px;
}
@media (min-width: 1200px) {
  .ceiling-actions {
    .action-text {
      padding: 15px 25px;
    }
    .action-name {
      font-size: 24px;
    }
  }
}
@media (min-width: 1200px) {
  .ceiling-actions {
    .action-text {
      padding: 15px 25px 15px 70px;
    }
  }
}
.ceiling-types {
  padding: 40px 0;
}
.ceiling-types-list {
  .tab-pane {
    img {
      .img-responsive;
    }
  }
  .nav {
    max-width: 370px;
    margin: 0 auto 30px;
  }
  .nav li a {
    padding: 5px 10px;
    border: none;
    span {
      border-bottom:  1px dashed lighten(@brand-primary, 50%);
    }
  }
  .nav li.active a {
    background: @brand-primary;
    span {
      color: #fff;
      font-weight: 700;
      border: none;
    }
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    //background: transparent;
  }
}
@media (min-width: @screen-sm-min) {
  .ceiling-types-list {
    .nav li a {
      margin: 0 15px;
    }
  }
}
.ceiling-types-img {
  margin-bottom: 20px;
}
.ceiling-types-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.ceiling-types-info {
  ul {
    margin-bottom: 20px;
  }
  .list-plus;
  font-size: 12px;
}
.ceiling-types-price {
  color: @brand-success;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.ceiling-order-btn {
  button {
    .orange-btn(10px, 25px);
  }
}
@media (min-width: 1200px) {
  .ceiling-types {
    .col-1200-10 {
      width: 41.66667%;
    }
    .col-1200-14 {
      width: 58.33333%;
    }
  }
  .ceiling-types-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .ceiling-types-info {
    ul {
      margin-bottom: 30px;
      li {
        font-size: 16px;
      }
    }
  }
  .ceiling-types-price {
    font-size: 22px;
  }
}
@media (min-width: 1360px) {
  .ceiling-types-item {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (min-width: @screen-lg-min) {
  .ceiling-types {
    padding: 60px 0;
  }
  .ceiling-types-item {
    width: 1300px;
  }
}

.ceiling-quality {
  background: #f2f2f2;
  padding: 40px 0;
}
.list-check {
  li {
    color: #1b1b1d;
    font-weight: 700;
    line-height: 1.2;
    padding-left: 50px;
    margin-bottom: 12px;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url(../images/check1.png) no-repeat;
      width: 18px;
      height: 19px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.ceiling-quality-list {
  width: 180px;
  margin: 0 auto 30px;
  .list-check;
  ul {
    .list-unstyled;
  }
}
.ceiling-quality-info {
  width: 225px;
  margin: 0 auto 30px;
}
.ceiling-quality-warranty {
  background: linear-gradient(to bottom, #a403ff, #37d7f9);
  width: 145px;
  height: 145px;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  text-align: center;
  margin: 0 0 30px;
  > div {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    border: 1px solid #fff;
  }
  span {
    font-size: 36px;
    font-weight: 700;
    text-shadow: 1px 1px 2px #666;
    position: relative;
    top: 20px;
  }
}
.ceiling-quality-note {
  font-size: 12px;
}
@media (min-width: 1200px) {
  .ceiling-quality {
    padding: 60px 0;
  }
  .ceiling-quality-list {
    width: auto;
    .clearfix;
    padding-top: 20px;
    ul {
      float: left;
      width: 50%;
      li {
        font-size: 18px;
      }
    }
  }
  .ceiling-quality-info {
    width: auto;
    .clearfix;
  }
  .ceiling-quality-warranty {
    float: left;
  }
  .ceiling-quality-note {
    margin-left: 180px;
    padding-top: 30px;
    max-width: 225px;
  }
}
@media (min-width: @screen-lg-min) {
  .ceiling-quality-wrap {
    width: 1000px;
    margin: 0 auto;
  }
}
.consult-note {
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
}
.ceiling-portfolio {
  padding: 40px 0;
}
@media (min-width: @screen-sm-min) {
  .ceiling-portfolio {
    padding: 40px 0;
  }
}
@media (min-width: 1200px) {
  .ceiling-portfolio {
    padding: 60px 0;
  }
}
.ceiling-light {
  padding: 40px 0;
}
@media (min-width: 1200px) {
  .ceiling-light {
    padding: 60px 0;
  }
}
.ceiling-light-img {
  margin-bottom: 30px;
  img {
    .img-responsive;
  }
}
.ceiling-light-info {
  .list-check;
  ul {
    margin-bottom: 30px;
    .list-unstyled;
    li {
      margin-bottom: 20px;
      font-weight: 400;
    }
  }
}
.ceiling-light-order {
  text-align: center;
  button {
    .orange-btn(10px, 25px);
  }
}
@media (min-width: @screen-sm-min) {
  .ceiling-light-img {
    width: 300px;
    margin: 0 auto;
  }
  .ceiling-light-order {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .ceiling-light-img {
    width: 350px;
  }
  .ceiling-light-info {
    font-size: 16px;
    margin-top: 20px;
  }
  .ceiling-light-wrap {
    width: 940px;
    margin: 0 auto;
  }
}
.carousel-inner {
  max-width: 800px;
  //width: 74%;
  margin: 0 auto;
}
.carousel-control {
  height: 44px;
  border: none;
  //top: 50%;
  //margin-top: -22px;
}
.carousel-control.left {
  background: url(../images/prev-small.png) no-repeat;
}
.carousel-control.right {
  background: url(../images/next-small.png) no-repeat;
}
.carousel-indicators {
  li {
    img {
      .img-responsive;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .carousel-indicators {
    padding-left: 0;
    margin-top: 15px;
    //height: 110px;
    //overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .carousel {
    max-width: 940px;
    margin: 0 auto;
  }
  .carousel-control {
    width: 58px;
    height: 113px;
    margin-top: -56px;
  }
  .carousel-control.left {
    background: url(../images/prev.png) no-repeat;
  }
  .carousel-control.right {
    background: url(../images/next.png) no-repeat;
  }
}
                                                        /*Blinds-page*/
.blinds-head {
  background: linear-gradient(to right, #c21c2a, #f68c40);
  .head-text-2 {
    font-size: 16px;
    font-weight: 700;
  }
}
.blinds-menu {
  margin-top: 30px;
  ul {
    .list-unstyled;
    li {
      margin-top: 10px;
      a {
        color: #fff;
        font-size: 13px;
        .dashed-link;
      }
    }
    li.active {
      a {
        color: #000;
        font-weight: 700;
        border: none;
        border-radius: 3px;
        padding: 5px 10px;
        background: linear-gradient(to bottom, #d59734, #f9eb32);
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .blinds-menu {
    margin-top: 70px;
    ul {
      text-align: center;
      li {
        display: inline-block;
        margin: 10px 5px;
      }
    }
  }
}
@media (min-width: 980px) {
  .blinds-menu ul li {
    margin: 15px 25px 0;
  }
}
@media (min-width: 992px) {
  .blinds-menu ul li {
    margin: 15px 10px 0;
  }
}
@media (min-width: 1200px) {
  .blinds-menu ul li {
    margin: 15px 22px 0;
  }
}
@media (min-width: 1280px) {
  .blinds-menu ul li {
    margin: 15px 30px 0;
  }
}
@media (min-width: 1360px) {
  .blinds-menu ul li {
    margin: 15px 5px 0;
  }
}
@media (min-width: 1480px) {
  .blinds-menu ul li {
    margin: 15px 15px 0;
  }
}
.blinds-about {
  padding: 40px 0 0;
  ul {
    .list-unstyled;
    li {
      margin-bottom: 20px;
    }
  }
  .blinds-about-wrap {
    padding-left: 70px;
  }
}
.blinds-about-1 {
  background: url(../images/blinds1.png) no-repeat 10px 5px;
}
.blinds-about-2 {
  background: url(../images/blinds2.png) no-repeat 10px 5px;
}
.blinds-about-3 {
  background: url(../images/blinds3.png) no-repeat 10px 5px;
}
@media (min-width: @screen-sm-min) {
  .blinds-about {
    padding: 50px 0 60px;
  }
  .blinds-about-wrap {
    width: 350px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .col-1200-7 {
    width: 29%;
  }
  .col-1200-8 {
    width: 33%;
  }
  .col-1200-9 {
    width: 38%;
  }
  .blinds-about-wrap {
    width: auto;
  }
}
@media (min-width: @screen-lg-min) {
  .blinds-about-wrap {
    width: 350px;
  }
}
.blinds-type-img {
  margin-bottom: 20px;
  img {
    .img-responsive;
  }
}
.blinds-type-title {
  margin-bottom: 20px;
  height: 80px;
  overflow: hidden;
  @media (max-width: @screen-xs-max){
    height: 40px;
  }
  a {
    color: @text-color;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom-color: lighten(@text-color, 60%);
    @media (max-width: @screen-xs-max){
      font-size:10px;
    }
  }
}
.blinds-type-text {
  margin-bottom: 20px;
}
.blinds-type-price-title {
  font-weight: 700;
}
.blinds-type-item {
  margin-bottom: 40px;
  label {
    font-size: 13px;
  }
}
.blinds-type-price {
  margin-bottom: 20px;
}
.old-price {
  color: #b1b1b1;
  text-decoration: line-through;
  line-height: 0.8;
}
.new-price {
  color: @brand-success;
  font-size: 36px;
  font-weight: 700;
}
.blinds-type-order {
  button {
    .orange-btn(10px, 25px);
  }
}
.blinds-type-link-more {
  padding-top: 8px;
}
@media (min-width: 1280px) {
  .blinds-type-list {
    width: 1050px;
    margin: 0 auto;
  }
}
.window-head {
  .breadcrumb {
    color: #fff;
    li {
      font-size: 13px;
      a {
        color: #fff;
        border-bottom-color: #fff;
      }
      &:before {
        color: #fff;
      }
    }
  }
}
.blinds-head {
  h1 {
    //margin-bottom: 0;
  }
  .breadcrumb {
    color: #fff;
    li {
      font-size: 13px;
      a {
        color: #fff;
        border-bottom-color: #dd867f;
      }
      &:before {
        color: #fff;
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .blinds-head {
    .breadcrumb {
      li {
        font-size: 14px;
      }
    }
  }
}
.inner-blinds-about {
  padding: 20px 0 40px;
}
.inner-blinds-char {
  font-size: 13px;
  margin-bottom: 20px;
}
.inner-blinds-order {
  max-width: 319px;
  background: #f2f2f2;
  padding: 30px;
  form {
    .radio {
      label {
        font-size: 13px;
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .inner-blinds-order {
    margin-top: 10px;
  }
}
@media (min-width: 1280px) {
  .inner-blinds-about {
    padding: 40px 0 50px;
  }
  .inner-blinds-char {
    font-size: 14px;
  }
  .inner-blinds-about-container {
    width: 1050px;
    margin: 0 auto;
  }
  .col-1280-14 {
    width: 60%;
  }
  .col-1280-10 {
    width: 40%;
  }
}
.inner-blinds-gallery {
  padding: 0 0 40px;
}
@media (min-width: @screen-sm-min) {
  .inner-blinds-gallery {
    //padding: 0 0 100px;
  }
}
@media (min-width: 1200px) {
  .inner-blinds-gallery {
    //padding: 0 0 100px;
  }
}
.inner-blinds-instal {
  padding: 40px 0 0;
}
.inner-blinds-instal-title {
  font-weight: 700;
}
@media (min-width: @screen-sm-min) {
  .inner-blinds-instal {
    padding: 60px 0 0;
  }
  .inner-blinds-instal-img {
    img {
      margin-right: 60px;
    }
  }
}

.consult-form {
  max-width:500px;
}

.btn-primary {
  .orange-btn(10px, 25px);
  border:none;
}
.btn-primary:active {
  .orange-btn(10px, 25px);
  border:none;
}

.modal-title {
  font-size: 26px;
  font-weight: bold;
}

.about-form-consult-title {
  margin: 0 0 15px 0;
  font-weight: bold;
}

.small-logo {
  margin: 8px;
}

.logo-link {
  border: none;
}
.content-default {
  //max-width: 1000px;
  //margin: 0 auto;
  padding-top: 30px;
  ul li, ol li {
    margin-bottom: 15px;
  }
}
@media (max-width: @screen-xs-max) {
  .content-default {
    img {
      .img-responsive;
      height: auto!important;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .content-default {
    img {
      float: right;
      margin: 0 0 10px 15px;
    }
  }
}
@media (min-width: 1400px) {
  .content-default {
    img {
      margin: 0 0 10px 25px;
    }
  }
}
.contact-page {
  form {
    label {
      margin-bottom: 10px;
    }
    input.form-control {
      max-width: 350px;
    }
  }
}
.consult-form {
  form {
    label {
      margin-bottom: 10px;
    }
  }
}
.content-default-text {
  font-size: 15px;
}

.name-faq {
  display: none;
}

.author, .answer-author {
  font-weight: bold;
  margin-bottom: 5px;
}
.author {
  font-size: 22px;
}
.answer-author {
  font-size: 16px;
}
.reviews-img {
  img {
    .border-right-radius(50%);
    .border-left-radius(50%);
  }
}
.answer {
  margin-top: 20px;
}
.review-list-item {
  margin-bottom: 25px;
}
.feedback-item {
  margin-bottom: 40px;
}
.faq-date {
  color: lighten(@text-color, 30%);
}
@media (min-width: @screen-sm-min) {
  .answer {
    margin-left: 20px;
  }
}

#id_glazing_type {
  li {
    list-style-type: none;
  }
}

.text-max-block {
  max-width: 400px;
}

.compare-price {
  font-weight: bold;
}
button.close {
  font-size: 36px;
}
.teplopaket {
  margin-bottom: 30px;
  img {
    .img-responsive;
    margin: 0 auto;
  }
}
.window-notice {
  margin-top: 20px;
  max-width: 322px;
}
.window-notice-text {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 15px;
}
.window-notice-img {
  img {
    .img-responsive;
    margin: 0 auto;
  }
}
@media (min-width: @screen-sm-min) {
  .window-notice {
    max-width: 400px;
  }
  .leaders {
    .window-notice {
      margin: 0 auto;
    }
  }
  .window-notice-text {
    font-size: 14px;
  }
}

/** Rolstavny start **/
.conditions-bg {
  background-color: #f1f2f2;
}
.conditions {
  max-width: 1300px;
  margin:auto;
  li {
    list-style: none;
    position: relative;
    font-weight: bold;
    padding:60px 25px 60px 0;
    font-size:16px;
    &:before {
      content: '';
      display: inline-block;
      background: url(../images/check.png) no-repeat;
      width: 26px;
      height: 25px;
      position: absolute;
      top: 60px;
      left: -35px;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .conditions {
    padding: 30px 80px;
    li {
      height: auto;
      font-size:16px;
      padding-bottom: 20px;
      padding-top: 5px;
      &:before {
        top: 0;
      }
    }
  }
}

@media (max-width: @screen-sm-max) {
  .conditions {
    padding: 30px 80px;
    li {
      height: auto;
      font-size:16px;
      padding:20px 25px 0 0;
      margin-bottom: 15px;
      &:before {
        top: 20px;
      }
    }
  }
}

.usefull {
  margin:40px auto;
  max-width: 1300px;
  h2 {
    text-align: center;
    color:#0c56a1;
    font-size: 34px;
    font-weight: 700;
  }
  .uses-tail {
    margin: 20px 0;
    .image-tail {
      img {
        .img-responsive;
      }
    }
    .title-tail {
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
    }
    .price-tail {
      color:#f15a29;
      font-size: 22px;
    }
  }
}

.service-repair {
  padding:40px 0;
  text-align: center;
  h2 {
    text-align: center;
    color:#0c56a1;
    font-size: 34px;
    font-weight: 700;
    margin-top:0;
  }
  p {
    max-width: 900px;
    margin:15px auto;
    font-size: 16px;
    padding:5px 20px;
  }
  background: url(../images/repair-bg.jpg) no-repeat #f1f2f2;
  @media (max-width: @screen-sm-max) {
    background-image: none;
  }
}

.rollers-control-types {
  .tails-row {
    .control-types-tail {
      height: 430px;
      margin-bottom: 30px;
      @media (max-width: @screen-xs-max) {
        height: auto;
      }
    }
    margin:30px auto 50px auto;
    .image-tail {
      img {
        .img-responsive;
      }
      margin-bottom: 15px;
    }
    .tail-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

.tails-row {
  .montazh-types-tail {
    .image-tail {
      img {
        .img-responsive;
        margin:auto;
      }
    }
    .tail-title {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.colors-tail {
  h2 {
    text-align: center;
    color:#0c56a1;
    font-size: 34px;
    font-weight: 700;
    margin:0 0 30px 0;
  }
  .colors-tail-row {
    .color-tail {
      img {
        .img-responsive;
      }
    }
    margin-bottom: 60px;
  }
  .footer-button {
    text-align: center;
    margin-bottom: 50px;
  }
}

ul.advantages-rollers {
  .list-unstyled;
  li {
    position: relative;
    height: 150px;
    padding:50px 10px 0 10px;
    font-size: 14px;
    margin:auto;
    @media (max-width: @screen-xs-max) {
      height: auto;
    }
    &:before {
      content: '';
      display: inline-block;
      background: url(../images/check.png) no-repeat;
      width: 26px;
      height: 25px;
      position: absolute;
      top: 20px;
      left: 10px;
    }
  }
}

/** Rolstavny end **/

.sectional-construct {
  h2 {
    text-align: center;
    margin: 50px 0 30px 0;
  }
  h3 {
    margin:40px 0;
  }
  .item-construct-title {
    font-size: 18px;
    font-weight: bold;
    margin:15px 0 5px 0;
  }
  max-width: 1300px;

}

.shape-panel {
  .item-construct {
    margin-bottom: 40px;
    .item-construct-title {
      text-align:center;
      margin-bottom: 15px;
    }
    h3 {
      span {
        font-size:40px;
      }
    }
  }
  .colors-ral {
    margin-top: 70px;
    .color-item {
      width:8%;
      min-width: 50px;
      min-height: 60px;
      padding:15px 5px;
      text-align: center;
      float: left;
      margin:10px 1% 10px 0;
      border:1px solid #262626;
    }
    .color-9016 {
      background-color: #fff;
    }
    .color-9006 {
      background-color: #b0b1b3;
    }
    .color-1015 {
      background-color: #f0ddb2;
    }
    .color-8014 {
      background-color: #602301;
      color:#fff;
    }
    .color-8017 {
      background-color: #33140e;
      color:#fff;
    }
    .color-5010 {
      background-color: #003863;
      color:#fff;
    }
    .color-3004 {
      background-color: #b42318;
      color:#fff;
    }
    .color-6005 {
      background-color: #15533d;
      color:#fff;
    }
    .color-7016 {
      background-color: #43454b;
      color:#fff;
    }
    .color-ads-703 {
      background-color: #132e44;
      color:#fff;
    }
    .color-ads-704 {
      background-color: #0e253b;
      color:#fff;
    }
  }
}

.sandvich-wood-colors {
  margin-top:80px;
  .item-construct {
    position: relative;
    margin-bottom: 10px;
    .item-construct-title {
      position: absolute;
      bottom:0;
      padding:10px 15px;
      background-color: #262626;
      color:#fff;
      font-size: 16px;
    }
  }
}

.sandvich-shapes {
  margin-bottom: 40px;
}

.automatic {
  .item-automatic {
    padding: 10px 15px;
  }
  margin-bottom: 40px;
  .automatic-items {
    margin-top:80px;
  }
  .automatic-content {
    margin: 10px 5px;
    font-size: 18px;
    span {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.sectional-kalitki {
  .kalitki-item {
    padding: 10px 25px;
  }
}

.kalitki-items {
  margin-top:40px;
}

.advantages-block-sections {
  margin-top:60px;
}

.zamki {
  h3 {
    margin-top:0;
  }
}

.zamki-items {
  .item-construct-title {
    margin-top:0;
  }
  .float-image-block {
    float:left;
  }
  .margin-content-block {
    margin-left:260px;
  }
}